*{ 
	
    font-size: 24px; 
	font-family: "Times New Roman";
} 

body{

	background: #D4D3D3;
	height: 100%;
	
}

.section{
	
	background-color: rgba(18, 66, 90, 0.3);
	margin: 0 auto;
	width: 90%;
	height: 90%;
	border: 1px solid #DDDDDD; 
	
}

h1{
	
	margin: 0 auto;
	width: 30%;
	border: 1px solid #DDDDDD;
	font-size: 1em;
}

nav{
	
	margin: 0 auto;
	width: 50%;
	height: 10%;
	border: 1px solid #DDDDDD;
	font-size: 1em;
	
}


html {
	border: 1px solid #DDDDDD;
	height: 100%;
	width: 100%;
}

#map_canvas { 
	margin: 0 auto;
	border: 1px solid #DDDDDD;
	height: 40%;
	width: 40%;
}